

/*--	Import Fonts		--*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/*--	General Changes		--*/
body, html {
	height: 100%;	
}


/*--	Main Content Changes	--*/
#mainContainer {
	height: 100%;
}

#mainContainer .row{
	padding-top: 40px;
	height: 100%;
}

#formTitle {
	text-align: center;
	margin-bottom: 34px;
}

	#formTitle i {
		font-size: 100px;
		color: #5b5b5b;
	}

#formContent {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: 1px;

}

	#formContent > input {
		border-bottom-right-radius: 0em;
		border-bottom-left-radius: 0em;
	}
	
	#formContent > #addButton {
	    border-top-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-right-radius: 0em;
		width: 80%;
		float: left;
	}
	
	#formContent > #clearButton {
	    border-top-left-radius: 0em;
		border-top-right-radius: 0em;
		border-bottom-left-radius: 0em;
		width:20%;
	}

#listToPush {
	margin-top: 34px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.list-group-item {
	cursor: move;
}


